<div class="modal-header">
    <h3>Edit Event</h3>
</div>

<form novalidate class='form-horizontal' role='form'  name='form.editevent' ng-submit='editEvent()'>
  <div class="modal-body create">

    <div class='form-group'>
      <label class='col-3 control-label' for='name'> Event Name</label>
      <div class='col-7'>
        <input id='name' class='form-control' type='text' name='name' ng-model='formData.name' ng-pattern="/[a-zA-z0-9]+/" ng-minlength="3" ng-maxlength="60" required/>
        <p class='error-helper text-danger' ng-show='form.editevent.name.$invalid && showErrors'>please enter an event name</p>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-3 control-label' for='description'>Description</label>
      <div class='col-7'>
        <textarea id='description' value='event.description' class='form-control' row='4' column='50' name='description' ng-model='formData.description'> </textarea>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-3 control-label' for='event_date'>Event Date</label>
      <div class='col-7'>
        <div class="input-group">
          <input readonly type="text" class="form-control" datepicker-popup="{{format}}" ng-model="formData.event_date" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" value='event.event_date' close-text="Close" />
          <span class="input-group-addon">
            <a ng-click="open($event)"><span class="glyphicon glyphicon-calendar"></span></a>
          </span>
        </div>
      </div>
    </div>

    <div class='text-danger text-center'>{{errorMessage}}</div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-success" type='submit'>Submit</button>
      <button class="btn btn-default" type='button' ng-click="cancel()">Cancel</button>
  </div>
</form>