<div class="modal-header">
    <h3>Create Petition</h3>
</div>

<form novalidate class='form-horizontal' role='form'  name='form.editpetition' ng-submit='editPetition()'>
  <div class="modal-body create">

    <div class='form-group'>
      <label class='col-3 control-label' for='name'> Petition Name</label>
      <div class='col-7'>
        <input id='name' class='form-control' type='text' name='name' ng-model='formData.name' ng-pattern="/[a-zA-z0-9]+/" ng-minlength="3" ng-maxlength="60" required/>
        <p class='error-helper text-danger' ng-show='form.editpetition.name.$invalid && showErrors'>please enter a petition name</p>
      </div>
    </div>

    <div class='form-group'>
      <label class='col-3 control-label' for='contents'>Content</label>
      <div class='col-7'>
        <textarea id='contents' placeholder='Enter petition...' class='form-control' row='50' column='50' name='contents' ng-model='formData.contents' required> </textarea>
        <p class='error-helper text-danger' ng-show='form.editpetition.contents.$invalid && showErrors'>A petition must contain content.</p>
      </div>
    </div>

    <div class='text-danger text-center'>{{errorMessage}}</div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-success" type='submit'>Submit</button>
      <button class="btn btn-default" type='button' ng-click="cancel()">Cancel</button>
  </div>
</form>