<div class="panel panel-default">
  <div class="panel-heading">Choose an action...</div>
  <div class="panel-body">
    <div class='row'>

	    <div class = 'col-3'>
	    	<a ui-sref='create_event'><button type="button" class="btn btn-success">Create</button></a>
	    </div>
	    <div class = 'col-3'>
	    	<button type="button" class="btn btn-warning">Edit</button>
	    </div>
	    <div class = 'col-3'>
	    	<a ui-sref='events'><button type="button" class="btn btn-info">View</button></a>
	    </div>
	    <div class = 'col-3'>
 				<button type="button" class="btn btn-danger">Delete</button>
    	</div>

    </div>
  </div>
</div>