<div class='home'>
	<div class='jumbotron'>
		<h1> Grassroot <small> Mobilize your reach </small> </h1>
		<div class='row'>
			<div class='col-3'>
				<a class='btn btn-default' ui-sref='event'> Events <span class="glyphicon glyphicon-circle-arrow-right"></span> </a>
			</div>
			<div class='col-3'>
				<a class='btn btn-default' ui-sref='petition'> Petitions <span class="glyphicon glyphicon-circle-arrow-right"></span> </a>
			</div>
			<div class='col-3'>
				<a class='btn btn-default' ui-sref='story'> Stories  <span class="glyphicon glyphicon-circle-arrow-right"></span> </a>
			</div>
			<div class='col-3'>
				<a class='btn btn-default' ui-sref='message'> Messages  <span class="glyphicon glyphicon-circle-arrow-right"></span> </a>
			</div>
		</div>
	</div>
</div>