<!-- navbar area -->
<div id='navbar' class='navbar navbar-default' role='navigation' ng-controller='NavCtrl' ng-include src="'/partials/nav.html'">
</div>
<!-- end navbar area -->

<!-- main view for angularjs router -->
<div class='container-fluid'>
	<div class ='row'>
		<!-- Sidebar -->
		<div class="col-3 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="#">Reports</a></li>
        <li><a href="#">User Analytics</a></li>
      </ul>
      <hr/>
      <ul class="nav nav-sidebar">
        <li><a ui-sref="event">Events</a></li>
        <li><a ui-sref='petition'> Petitions </a> </li>
        <li><a href="">Stories</a></li>
      </ul>
      <hr/>
      <ul class="nav nav-sidebar">
        <li><a href="">Social Media Stream</a></li>
      </ul>
    </div>
    <!-- end of sidebar -->
    <div ui-view class="col-9 main">
  	</div>
	</div>
</div>
<!-- end main view for angularjs router -->

<!-- footer -->
<div id='footer' class='container'>
</div>
<!-- end footer -->